@using MusicStore.Domain.Entities
@model MusicStore.WebUI.Models.MusicListViewModel

@{
	ViewBag.Title = "Goods";
}

@{
	System.Diagnostics.Debug.Assert(@Model?.musicTracks != null, "@Model?.musicTracks != null");
}
@foreach (var musicTrack in @Model?.musicTracks)
{
	@Html.Partial("MusicSummary", musicTrack)
}

<div class="btn-group pull-right">
	@Html.PageLinks(Model.pagingInfo, x => Url.Action("List", new {page = x}))
</div>